.offline {
  background-color: lightcoral;
  color: black
}

.online {
  background-color: mediumseagreen;
  color: black;
}

.centerplz{
  text-align: center;

}

body {
    background-color: silver;
}